html {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  /* styles for iPhones and other small devices */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* styles for iPads and tablets */
}

.container {
  max-width: 1600px;
}

header img {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #f1641e;
}

a:hover {
  text-decoration: none;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-block;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.5em;
}

nav li:hover {
  background: lightgray;
}

nav li:active {
  background: gray;
}
