html {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  line-height: 1.5;
}

body {
  margin-bottom: 0;
  margin-top: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #7272b0;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.under-construction-banner {
  background: orange;
  font-family: "Tahoma", sans-serif;
  font-size: 0.75rem;
  text-align: center;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-block;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
}

nav li:hover {
  background: lightgray;
}

nav li:active {
  background: gray;
}

nav li a {
  font-size: 1.25rem;
  text-decoration: none;
}

#etsy-link {
  color: #f1641e;
}

footer {
  background: #f6f6f6;
  border-bottom: 1px solid transparent;
  border-top: 1px solid black;
  font-size: 0.75rem;
  margin-top: 1rem;
  text-align: center;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  width: 35vw;
}

@media only screen and (max-width: 767px) {
  /* styles for iPhones and other small devices */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* styles for iPads and tablets */
}
